<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapa de Rastreamento</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS do Leaflet (OpenStreetMap) -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='map.js') }}" defer></script>
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100"
  >
    <div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-3xl">
      <h1 class="text-2xl font-bold text-gray-800 text-center mb-4">
        📍 Última Localização Rastreada
      </h1>
      <p class="text-gray-600 text-center mb-4">
        Veja a localização mais recente rastreada no mapa abaixo:
      </p>

      <div id="map" class="w-full h-96 rounded-lg shadow-md"></div>
    </div>
  </body>
</html>
